
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

*{
 margin : 0;
 padding: 0;
 box-sizing :border-box;
 font-family: 'Ubuntu', sans-serif;
}

.main{
    position: relative;
    min-height: 100vh;
    background: radial-gradient(#f0483a,#d10a20);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 100px;
}


header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}


.btn{
    position: relative;
    display: flex;
    padding: 10px 25px;
    background: #fff;
    color: #333;
    font-size: 0.8em;
    font-weight: 200;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.25s;
    margin-left: 30px;
}

.btn:hover{
    background:#f0483a;
    color: #fff;
}

.logo{
    max-width: 90px;
}

.navigation {
    display: flex;
}

.navigation li{
    list-style: none;
}

.navigation li a{
    position: relative;
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
}






